
body{
    margin: 0;
    font-family: 'Poppins',sans-serif ;
}

.half_width{
    width: 35%;
    float: left;
    margin-left: 5%;
    padding-left: 5%;
    Padding-top: 5%;
}

.half_width img{
    width: 100%;
}

h2{
    font-weight: 400;
    font-size: 40px;
}

h1{
    font-size: 50px;
}

.name-highlight{
    font-size: 50px;
    color: #EC4C7A;
}

p{
    padding: 20px 0;
    color: #EC4C7A;
}

.link-btn{
    text-decoration: none;
    background: linear-gradient(45deg, #605995,#EC4C7A);
    padding: 10px 30px;
    color: #fff;
    border-radius: 5px;
}

section{
    height: 600px;
    padding-bottom: 150px;
}
.top-section{
    background: url("images/header-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.Biography-area{
    background: url("images/biography-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.work-area{
    background: url("images/latest-work-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 400px;
    margin-top: 100px;
}

.teacher-section{
    background: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}

.latest-work{
    margin-left: 10%;
    padding-left: 2%;
    width: 80%;
}
.latest-work img{
    width: 30%;
}

.work-header{
    text-align: center;
}

.client-area{
    text-align: center;
    background: url("images/footer-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.client-area p{
    color: black;
}

.client-area h1{
    padding-bottom: 2%;
}

.highlight{
    color: #EC4C7A !important;
}
#anchor-btn{
    display: inline-block;
    background: linear-gradient(45deg, #605995,#EC4C7A);
    width: 50%;
    margin: 2% 0;
    padding: 40px 70px;
    text-decoration: none;
    color: #fff;
    border-radius: 10px;

}

.email{
    font-size: 30px;
    padding: 2% 0;
}

footer{
    margin-top: 50px;
}

footer p{
    padding: 20px 0;
    color: #EC4C7A;
}
